<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="About Us">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="static/js/runtests.js" defer></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>

	<br>
	<body class="text-light" style="background-color: rgb(115,165,198);" onload="getStatus()">
		<div class= "container">
			<h1 style="text-align: center;"> The Naughty List </h1>
			<br>
			<h2 style="text-align: center;">Team Members</h2>
			<br>
			<div class="row justify-content-between">

				{% for i in range(0, len)%}

					<div class="col-sm-3 text-center">
							<a href= "{{url_for('maintainer', idx=i)}}"><img style="width: 100%;" src="{{info[i][2]}}" class= "mx-auto d-block" alt="Responsive image"></a>
						<br>
						<a href= "{{url_for('maintainer', idx=i)}}" style="color:white; text-align: center">{{info[i][0]}}</a>

					</div>
				{%endfor%}
				
			</div>
			<br><hr>
			<h1 class="text-center">Repository Stats</h1>
			<br>
			<div class="bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<br>
				<div class="row">
					<div class="col text-center">
						Total Commits: {{num_commits}}
					</div>
					<div class="col text-center">
						Total Issues Opened: {{num_issues}}
					</div>
					<div class="col text-center">
						Total Unit Tests: {{info[0][5] + info[1][5] + info[2][5]}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col text-center">
						<a href="https://gitlab.com/michaelsams247/cs331e-idb/-/issues" style="color:white;">Issue Tracker</a>
					</div>
					<div class="col text-center">
						<a href="https://gitlab.com/michaelsams247/cs331e-idb" style="color:white;">Repository</a>
					</div>
					<div class="col text-center">
						<a href="https://gitlab.com/michaelsams247/cs331e-idb/-/wikis/home" style="color:white;">Wiki</a>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col text-center">
						<a href="https://speakerdeck.com/paulc8719/the-naughty-list" style="color:white;">Speaker Deck</a>
					</div>
				</div>
				<br>
			</div>
			<br><hr>
			<h1 class="text-center"><a style="color: white;" href="https://gitlab.com/michaelsams247/cs331e-idb/-/pipelines">CI/CD</a></h1>
			<br>
			<div class= "bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<br>
				<div class="row">
					<div class="col-6 text-center" id="pipeline-id">Current Pipeline ID: </div>
					<div class="col-6 text-center" id="pipeline-status">Pipeline Status: </div>
				</div><br>
				<div class="row">
					<div class="col text-center">
						<button class="btn btn-success" id="run-tests" onclick="runTests()">Run Unit Tests</button>
					</div>
				</div>
				<br>
			</div>
			<br><hr>
			<h1 class="text-center"><a style="color: white;" href="https://documenter.getpostman.com/view/26663575/2s93RXrVFL">Postman Collection</a></h1>
			<br>
			<div class= "bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<br>
				<div class="row">
					<a class="text-center" style="color: white;" href="https://www.postman.com/warped-shadow-40152/workspace/naughty-list/overview">Postman Project</a>
				</div>
				<div class="row">
					<a class="text-center" style="color: white;" href="static/json/NaughtyListTests.postman_collection.json" download="NaughtyListTests.postman_collection.json">Download Tests</a>
				</div>
				<div class="row">
					<span class="text-center">Test Status: Passed</span>
				</div>
				<br>
			</div>
			<br>
			<div class="row">
				<div class="col text-center">
					<img src="static/images/postman.JPG" style="max-width: 500px;">
				</div>
			</div>
			<br><hr>
			<h1 class="text-center">APIs Used</h1>
			<br>
			<div class="row">
				<div class="col text-center bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					<a style="color: white;" href="https://api-sports.io/">API-Sports Football (Soccer) API</a>
					<br><br>
					This API was scraped using the Python requests library and the returned data for Players, Clubs, and
					Games was stored in separate json files. Using the pre-populated json files instead of sending the
					same requests every time the applicaiton is started allows us to get around API request limits and
					reduces the time required to start the application. This data is used to populate the database used
					for the main content of the website.
				</div>
				<div class="col text-center bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					<a style="color: white;" href="https://docs.gitlab.com/">GitLab API</a>
					<br><br>
					This API is scraped using the Python requests library whenever the About Us or individual project
					member pages are loaded. Data returned from the API requests includes number of commits and number
					of issues for the group or individual depending on the page. The GitLab API is also used to submit
					new CI/CD pipeline requests to run unit tests on the fly, as well as to display the results of the
					tests.
				</div>
			</div>
			<br><hr>
			<h1 class="text-center">Tools Used</h1>
			<br>
			<div class="row" style="align-items: center;">
				<div class="col-4 text-center">
					<a href="https://flask.palletsprojects.com/en/2.2.x/"><img style="width: 100%;" src="https://flask.palletsprojects.com/en/2.2.x/_images/flask-logo.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://jinja.palletsprojects.com/en/3.1.x/"><img style="width: 100%;" src="https://jinja.palletsprojects.com/en/3.1.x/_images/jinja-logo.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://getbootstrap.com/"><img style="width: 35%;" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"></a>
				</div>
			</div>
			<br>
			<div class="row" style="align-items: center;">
				<div class="col-4 text-center">
					<a href="https://www.postgresql.org/"><img style="width: 35%;" src="https://www.postgresql.org/media/img/about/press/elephant.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://www.sqlalchemy.org/"><img style="width: 100%;" src="https://www.sqlalchemy.org/img/sqla_logo.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://about.gitlab.com/"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/GitLab_logo_%282%29.svg/768px-GitLab_logo_%282%29.svg.png?20221022222846"></a>
				</div>
			</div>
			<br>
			<div class="row" style="align-items: center;">
				<div class="col-4 text-center">
					<a href="https://console.cloud.google.com"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Google_Cloud_logo.svg/330px-Google_Cloud_logo.svg.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://requests.readthedocs.io/en/latest/"><img style="width: 35%;" src="https://requests.readthedocs.io/en/latest/_static/requests-sidebar.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://www.postman.com/"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Postman_%28software%29.png"></a>
				</div>
			</div>
			<br>
			<div class="row" style="align-items: center;">
				<div class="col-4 text-center">
					<a href="https://www.namecheap.com/"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Namecheap_Logo.svg/1920px-Namecheap_Logo.svg.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://discord.com/"><img style="width: 100%;" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/98/Discord_logo.svg/1920px-Discord_logo.svg.png"></a>
				</div>
				<div class="col-4 text-center">
					<a href="https://www.planitpoker.com/"><img style="width: 35%;" src="https://planitpoker.azureedge.net/Content/logo.png"></a>
				</div>
			</div>
			<br>
			<div class="row" style="align-items: center;">
				<div class="offset-4 col-4 text-center">
					<a href="https://speakerdeck.com/"><img style="width: 35%;" src="https://d1eu30co0ohy4w.cloudfront.net/assets/mark-f4be6df1e05965cac9f98e664a6c35f5ffdd0207385d07464a9214d6cdf76082.svg"></a>
				</div>
			</div>
			<br>
		</div>
	</body>

</html>