<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="Clubs Page">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>
	<body style="background-color: rgb(115,165,198);">
	<script src="static/js/pagination2.js" defer></script>
	<div class="container-fluid" style="background-color: #6a68ed;">
		<br>
		<div class="container">
			<h4 style="color: white;">Search Clubs</h4>
			<form class="needs-validation" nonvalidate="" action="{{url_for('clubs')}}" method = 'POST'>
				<div class="row">
					<div class="col-sm-10">
						<input type="text" class="form-control" placeholder="Search" name="search-string" id="search-string">
					</div>
					<div class="col-sm-2">
						<button class="btn btn-success form-control" type="submit">Search</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<label for="search-by" class="control-label" style="color: white;">Search By:</label>
						<select id="search-by" name="search-by" class="form-select form-control">
							<option value="">All Columns</option>
							<option value="club_name">Club</option>
							<option value="founded">Year Founded</option>
						</select>
						<br>
					</div>
					<div class="col-sm-4">
						<label for="sort-by" class="control-label" style="color: white;">Sort Results By:</label>
						<select id="sort-by" name="sort-by" class="form-select form-control">
							<option selected value="">Choose...</option>
							<option value="club_name">Clubs Name</option>
							<option value="league">League Name</option>
							<option value="club_short_name">Club Code</option>
							<option value="founded">Year Founded</option>
							<option value="country">Country</option>
						</select>
						<br>
						<div class="btn-group" role="group">
							<input type="radio" class="btn-check" name="sort-by-option" value="asc" id="asc" autocomplete="off" checked>
							<label class="btn btn-outline-info" for="asc">Ascending</label>
							<input type="radio" class="btn-check" name="sort-by-option" value="desc" id="desc" autocomplete="off">
							<label class="btn btn-outline-info" for="desc">Descending</label>
						</div>
					</div>
					<div class="col-sm-4">
						<label style="color: white;">Page:</label>
						<ul class="pagination">
  <li class="page-item">
  </li>
  <li class="page-item active"><a class="page-link" href="#">1</a></li>
  <li class="page-item"><a class="page-link" href="#">2</a></li>
  <li class="page-item"><a class="page-link" href="#">3</a></li>
  <li class="page-item"><a class="page-link" href="#">4</a></li>
  <li class="page-item">
  </li>
</ul>

					</div>
				</div>
			</form>
		<br>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row row-cols-1 row-cols-md-3 g-4" id="card-container">
			{% for row in data.itertuples() %}
		  <div class="col">
			  <a href="{{url_for('club', club_id = row['club_id'])}}" style="color: inherit; text-decoration: inherit;">
				<div class="card">
				  <img src="{{row['club_picture']}}" class="card-img-top" alt={{row['club_name']}}>
			  <div class="card-body">
				<h5 class="card-title">{{row['club_name']}}</h5>
				  <p class="card-text">League: {{row['league']}}</p>
				<p class="card-text">Club Code: {{row['club_short_name']}}</p>
				  <p class="card-text">Club Founded: {{row['founded']}}</p>
				  <p class="card-text">Country: {{row['country']}}</p>
			  </div>
			</div>
			  </a>
		  </div>
			{% endfor %}
		</div>
		<br><hr>
		<h1 class="text-center text-light">APIs Used</h1>
		<br>
		<div class="row">
			<div class="col text-center">
				<a style="color: white;" href="https://api-sports.io/">API-Sports Football (Soccer) API</a>
			</div>
		</div>
		<br><br>

			<script>
  const CARDS_PER_PAGE = 6;

  const cardContainer = document.getElementById('card-container');
  const cards = cardContainer.querySelectorAll('.card');
  const numPages = Math.ceil(cards.length / CARDS_PER_PAGE);
  showPage(1);

  const pagination = document.querySelector('.pagination');
  pagination.addEventListener('click', (event) => {
    event.preventDefault();
    const button = event.target.closest('.page-link');
    if (!button) return;
    if (button.classList.contains('disabled')) return; // don't do anything if button is disabled
    const page = parseInt(button.textContent);
    if (isNaN(page)) return;
    showPage(page);
    updateActivePage(page);
    updatePrevNextButtons(page);
  });

  function showPage(page) {
    const startIndex = (page - 1) * CARDS_PER_PAGE;
    const endIndex = startIndex + CARDS_PER_PAGE;
    cards.forEach((card, index) => {
      if (index >= startIndex && index < endIndex) {
        card.style.display = '';
      } else {
        card.style.display = 'none';
      }
    });
  }

  function updateActivePage(page) {
    const activeItem = pagination.querySelector('.active');
    if (activeItem) {
      activeItem.classList.remove('active');
    }
    const pageItems = pagination.querySelectorAll('.page-item');
    const currentItem = pageItems[page];
    currentItem.classList.add('active');
  }

  function updatePrevNextButtons(currentPage) {
    const prevButton = pagination.querySelector('.prev-link');
    const nextButton = pagination.querySelector('.next-link');
    if (currentPage === 1) {
      prevButton.classList.add('disabled');
    } else {
      prevButton.classList.remove('disabled');
    }
    if (currentPage === numPages) {
      nextButton.classList.add('disabled');
    } else {
      nextButton.classList.remove('disabled');
    }
  }
</script>
	</body>
</html>
