<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="Leagues Page">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>
	<body class="text-light" style="background-color: rgb(115,165,198);">
		<div class="container">
			<br>
			<div class="row">
				<div class = "col-sm-1">
				</div>
				<div class = "col-sm-4 text-center">
					<h1> Home </h1>
					<img src= "{{data['club_picture']}}">
					<h1><a class="link-light" href="{{url_for('club', club_id=data['team_a_id'])}}">{{data['club_name']}}</a></h1>
				</div>
				<div class = "col-sm-2 d-flex flex-column justify-content-center align-items-center">
					<h2> VS </h2>
				</div>

				<div class = "col-sm-4 text-center">
					<h1> Away </h1>
					<img src= "{{data['club_picture_team_h']}}">
					<h1><a class="link-light" href="{{url_for('club', club_id=data['team_h_id'])}}">{{data['club_name_team_h']}}</a></h1>
				</div>
				<div class = "col-sm-1">
				</div>
			</div>
			<br>
			<hr>
			<br>
			<h1 class="text-center"> Stats </h1>
			<br>
			<div class="row">
				<div class = "col-sm-1">
				</div>
				<div class = "col-sm-4 bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					<h2>Goals:</h2>
					<h3 class= "text-center">{{data['team_a_score']}}</h3>
					<br>
					<h2>Penalties:</h2>
					<h3 class = "text-center">{{data['team_a_penalty']}}</h3>
					<br>
				</div>
				<div class = "col-sm-2">
				</div>
				<div class = "col-sm-4 bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					<h2>Goals:</h2>
					<h3 class= "text-center">{{data['team_h_score']}}</h3>
					<br>
					<h2>Penalties:</h2>
					<h3 class = "text-center">{{data['team_h_penalty']}}</h3>
					<br>
				</div>
				<div class = "col-sm-1">
				</div>
			</div>
			<br>
			<hr>
			<br>
			<h1 class="text-center"> Players </h1>
			<br>
			<div class="row">
				<div class = "col-sm-1">
				</div>
				<div class = "col-sm-4 bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					{% for row in players_a.itertuples() %}
						<h3><a class="link-light" href="{{url_for('player', player_id = row['player_id'])}}">{{ row['player_name'] }}</a></h3>
					{% endfor %}
					<br>
				</div>
				<div class = "col-sm-2">
				</div>
				<div class = "col-sm-4 text-light bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
					<br>
					{% for row in players_h.itertuples() %}
						<h3><a class="link-light" href="{{url_for('player', player_id = row['player_id'])}}">{{ row['player_name'] }}</a></h3>
					{% endfor %}
					<br>
				</div>
				<div class = "col-sm-1">
				</div>
			</div>
		</div>
	</body>
</html>
