<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="CS 331E Homepage">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>
	<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-dark" style="background-image: url(../static/images/Homepage_jumbotron.jpg); background-size: cover; height: 450px;"></div>

	<body style= "background-color: rgb(115,165,198);">
		<div class="container-fluid" style="background-color: #6A68ED; max-width: 80%;">
			<br>
			<div class="container-fluid text-light bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<div>
					<br>
					<h1 style="text-align: center;"> The Naughty List </h1>
					<br>
					<h2 style="text-align: center;"> A website that allows you to see the biggest rule breakers in Soccer </h2>
					<br>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<div class="container bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<br>
				<h1 class="text-light text-center">Top Offenders</h1>
				<hr>
				<div id="carouselStartPage" class=" carousel slide" data-bs-ride="carousel">
		  			<div class="carousel-inner">
			  		{% for row in data.itertuples() %}
						<div class="carousel-item {{'active' if loop.index == 1}} text-center" data-bs-interval="4000">
							<div class="container">
								<div class="row">
									<div class="col-1"></div>
									<div class="col-4">
										<br>
										<img style="width: 100%; max-width: 250px;" class= "mx-auto d-block" src="{{row['player_picture']}}">
										<br><br><br>
									</div>
									<div class = "col-6 text-light">
										<br>
										<div class="row">
											<h2><a class="link-light" href="{{url_for('player', player_id = row['player_id'])}}">{{row['player_name']}}</a></h2>
										</div>
										<br>
										<div class="row">
											<h3><a class="link-light" href="{{url_for('club', club_id = row['club_id'])}}">{{row["club_name"]}}</a> (Premier League)</h3>
										</div>
										<br>
										<div class="row">
											<h3>Total Yellow Cards: <span class="text-warning">{{row['yellow_cards']}}</span></h3>
										</div>
										<br>
										<div class="row">
											<h3>Total Red Cards: <span class="text-danger">{{row['red_cards']}}</span></h3>
										</div>
										<br>
									</div>
								</div>
							</div>
						</div>
			  		{% endfor %}
		  			</div>
		  		<button class="carousel-control-prev" type="button" data-bs-target="#carouselStartPage" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
		  		</button>
		  		<button class="carousel-control-next" type="button" data-bs-target="#carouselStartPage" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
		  		</button>
				</div>
			</div>
			<br>
			<hr>
			<br>
			<div class="container text-center">
				<div class="row justify-content-between">
					<div class="col-4 d-flex aligns-items-center">
						<form class="d-flex aligns-items-center" action="{{url_for('players')}}" method = 'GET'>
							<button class="btn btn-dark">
								<h2 class= "text-light" style="text-align: center;padding: 0px 30px;border-radius: 10px;">Press here to see all Players</h2>
							</button>
						</form>
					</div>
					<div class="col-4 d-flex aligns-items-center">
						<form class="d-flex aligns-items-center" action="{{url_for('clubs')}}" method = 'GET'>
							<button class="btn btn-dark" >
								<h2 class= "text-light" style="text-align: center;padding: 0px 30px;border-radius: 10px;">Press here to see all Clubs</h2>
							</button>
						</form>
					</div>
					<div class="col-4 d-flex aligns-items-center">
						<form class="d-flex aligns-items-center" action="{{url_for('games')}}" method = 'GET'>
							<button class="btn btn-dark">
								<h2 class= "text-light" style="text-align: center;padding: 0px 30px;border-radius: 10px;">Press here to see all Games</h2>
							</button>
						</form>
					</div>
				</div>
			</div>
			<br>
		</div>
		<br>
		<br>
	</body>
</html>
