<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="About Us">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link"  href="{{url_for('aboutus')}}">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>

	<body class="text-light" style="background-color: rgb(115,165,198);">
		<div class= "container text-center">
			<br>
			<h1>{{info[currentIdx][0]}}</h1>
			<br>
			<div class="row">
				<div class="col-sm-12 text-center">
					<img style="width: 30%;" src="{{info[currentIdx][2]}}" class= "mx-auto d-block" alt="Responsive image">
					<br>
					<div class= "bg-dark" class= "bg-dark" style="color: white; padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
						<br>
						<p style="color: white;">{{info[currentIdx][1]}}</p>
						<br>
					</div>
					<br>
					<h3 >Responsibilities</h3>
					<br>
					<div class ="bg-dark" class= "bg-dark" style="color: white;padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
						<br>
					{% set responsibility_len = info[currentIdx][3]|length %}
					{% for i in range(0, responsibility_len) %}
						<p style="color: white;">{{info[currentIdx][3][i]}}</p>
					{% endfor %}
					<br>
				</div>
				</div>
			</div>
			<br>
			<h3>Repository Stats</h3>
			<br>
			<div class="row bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
				<div class="col text-center">
					<br>
					<p>Commits: {{num_commits}}</p>
					<br>
				</div>
				<div class="col text-center">
					<br>
					<p>Issues Opened: {{num_issues}}</p>
					<br>
				</div>
				<div class="col text-center">
					<br>
					<p>Unit Tests: {{info[currentIdx][5]}}</p>
					<br>
				</div>
			</div>
		</div>
		<br>
		<hr>
		<div class= "container text-center">
			<h1>Other Members</h1>
			<br>
			<div class="row justify-content-between">
				{% for i in range(0, len)%}
					{% if i != currentIdx %}
						<div class="col text-center">
							<a href= "{{url_for('maintainer', idx = i)}}"><img style="width: 55%" src="{{info[i][2]}}" class= "mx-auto d-block" alt="Responsive image"></a>
							<a href= "{{url_for('maintainer', idx = i)}}" style = "text-align: center; color:white;">{{info[i][0]}}</a>
							<br><br>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>