<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="Players Page">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="static/js/pagination.js" defer></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link active" aria-current="page">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
        			</li>
      			</ul>
    		</div>
  		</div>
	</nav>
	<body class="text-light" style="background-color: rgb(115,165,198);" onload="createButtons({{ data|length }}, 1)">
		<div style="background-color: #6a68ed;">
			<br>
			<div class="container">
				<h4>Search Players</h4>
				<form class="needs-validation" nonvalidate="" action="{{url_for('players')}}" method = 'POST'>
					<div class="row">
						<div class="col-8 col-md-10">
							<input type="text" class="form-control" placeholder="Search" name="search-string" id="search-string">
						</div>
						<div class="col-4 col-md-2">
							<button class="btn btn-success form-control" type="submit">Search</button>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-6 col-xl-4">
							<label for="search-by" class="control-label">Search By:</label>
							<select id="search-by" name="search-by" class="form-select form-control">
								<option value="">All Columns</option>
								<option value="player_name">Player</option>
								<option value="club_name">Club</option>
								<option value="league">League</option>
								<option value="total_games">Player Appearances</option>
								<option value="goals">Goals</option>
								<option value="assists">Assists</option>
								<option value="yellow_cards">Yellow Cards</option>
								<option value="red_cards">Red Cards</option>
							</select>
							<br>
						</div>
						<div class="col-6 col-xl-4">
							<label for="sort-by" class="control-label">Sort Results By:</label>
							<select id="sort-by" name="sort-by" class="form-select form-control" style="margin-bottom: 10px;">
								<option selected value="">Choose...</option>
								<option value="player_name">Player</option>
								<option value="club_name">Club</option>
								<option value="league">League</option>
								<option value="total_games">Player appearances</option>
								<option value="goals">Goals</option>
								<option value="assists">Assists</option>
								<option value="yellow_cards">Yellow Cards</option>
								<option value="red_cards">Red Cards</option>
							</select>
							<div class="btn-group" role="group">
								<input type="radio" class="btn-check" name="sort-by-option" value="asc" id="asc" autocomplete="off" checked>
								<label class="btn btn-outline-primary" style="color: white;" for="asc">Ascending</label>
								<input type="radio" class="btn-check" name="sort-by-option" value="desc" id="desc" autocomplete="off">
								<label class="btn btn-outline-primary" style="color: white;" for="desc">Descending</label>
							</div>
						</div>
						<div class="col-12 col-xl-4">
							<label for="page-nav" class="control-label">Page:</label>
							<nav id="page-nav">
							  	<div class="btn-group d-flex" role="group">
							  	</div>
							</nav>
						</div>
					</div>
				</form>
			</div>
			<br>
		</div>
		{% if search_string is defined %}
			<script>
				document.getElementById("search-string").value = "{{search_string}}";
				document.getElementById("search-by").value = "{{search_by}}"
				document.getElementById("sort-by").value = "{{sort_by}}"
				document.getElementById("{{sort_by_option}}").checked = true;
			</script>
		{% endif %}
		<br>
		<div class="container">
			<div class="row">
				<div class="table-responsive">
					<table id="data-table" class="table table-hover text-center text-light">
						<thead>
							<tr>
								<th scope="col">Player</th>
								<th scope="col">Club</th>
								<th scope="col">League</th>
								<th scope="col">Player Appearances</th>
								<th scope="col">Goals</th>
								<th scope="col">Assists</th>
								<th scope="col">Yellow Cards</th>
								<th scope="col">Red Cards</th>
							</tr>
						</thead>
						<tbody>
							{% for row in data.itertuples() %}
								<tr style="color: white" class='clickable-row' data-href="{{url_for('player', player_id=row['player_id'])}}">
									<td scope="row">{{row["player_name"]}}</td>
									<td><a class="link-light" href="{{url_for('club', club_id = row['club_id'])}}">{{row["club_name"]}}</a></td>
									<td>{{row["league"]}}</a></td>
									<td>{{row["total_games"]}}</td>
									<td>{{row["goals"]}}</td>
									<td>{{row["assists"]}}</td>
									<td>{{row["yellow_cards"]}}</td>
									<td>{{row["red_cards"]}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			$(function(){
				$('.table tr[data-href]').each(function(){
					$(this).css('cursor','pointer').hover(
						function(){
							$(this).addClass('active');
						},
						function(){
							$(this).removeClass('active');
						}).click( function(){
							document.location = $(this).attr('data-href');
						}
					);
				});
			});
		</script>
		<br><hr>
		<div class="container">
			<br>
			<h1 class="text-center">APIs Used</h1>
			<br>
			<div class="row">
				<div class="col text-center">
					<a style="color: white;" href="https://api-sports.io/">API-Sports Football (Soccer) API</a>
				</div>
			</div>
			<br><br>
		</div>
	</body>
</html>
