<!DOCTYPE html>
<html>
	<head>
		<title>The Naughty List</title>
		<meta charset="UTF-8">
		<meta name="description" content="Player Page">
		<meta name="author" content="Michael Sams, Chang Yu-Huan, Paul Clukey, Evan Plunkett">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<div class="container-fluid">
    		<a class="navbar-brand">The Naughty List</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('index')}}">Home</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('clubs')}}">Clubs</a>
        				</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('games')}}">Games</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('players')}}">Players</a>
        			</li>
        			<li class="nav-item">
          				<a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
        			</li>

      			</ul>
    		</div>
  		</div>
	</nav>
	<body class="text-light" style="background-color: rgb(115,165,198);">
		<div class="container">
			<br>
			<h1 style="text-align: center;">{{data["player_name"]}}</h1>
			<br>
			<div class="row justify-content-between">
				<div class="col-md-4 text-center">
					<img style="width: 100%; max-width: 400px;" class= "mx-auto d-block" src="{{data['player_picture']}}">
					<br><br>
				</div>
				<div class="col-md-offset-1 col-md-7">
					<div class = "bg-dark" style="padding: 0px 30px; box-shadow: 0 0 25px 0px rgba(0,0,0,0.5); border-radius: 10px;">
						<br>
						<div class="row">
							<h3>{{data["player_name"]}} plays for <a class="link-light" href="{{url_for('club', club_id = data["club_id"])}}">{{data["club_name"]}}</a>, which is a member of {{data["league"]}}.</h3>
						</div>
						<br>
						<div class="row">
							<h3>Total Appearances: {{data["total_games"]}}</h3>
						</div>
						<br>
						<div class="row">
							<h3>Total Goals: {{data["goals"]}}</h3>
						</div>
						<br>
						<div class="row">
							<h3>Total Assists: {{data["assists"]}}</h3>
						</div>
						<br>
						<div class="row">
							<h3>Total Yellow Cards: {{data["yellow_cards"]}}</h3>
						</div>
						<br>
						<div class="row">
							<h3>Total Red Cards: {{data["red_cards"]}}</h3>
						</div>
						<br>
					</div>
				</div>
			</div>
			<br><br><hr>
			<h1 class="text-center">Games played by {{data["club_name"]}}</h1>
			<br>
			<div class="table-responsive">
					<table id="data-table" class="table table-hover text-center text-light">
						<thead>
							<tr>
								<th scope="col">Date</th>
								<th scope="col">Away Team</th>
								<th scope="col">Away Team Score</th>
								<th scope="col">Home Team</th>
								<th scope="col">Home Team Score</th>
							</tr>
						</thead>
						<tbody>
							{% for row in game_data.itertuples() %}
								{% if row['team_a_id'] == data["club_id"] or row['team_h_id'] == data["club_id"] %}
									<tr style="color: white" class='clickable-row' data-href="{{url_for('game', game_id = row['fixture_id'])}}">
										<td scope="row">{{row["kickoff_time"]}}</td>
										<td><a class="link-light" href="{{url_for('club', club_id = row["club_id"])}}">{{row["club_name"]}}</a></td>
										<td>{{ row['team_a_score'] }}</a></td>
										<td><a class="link-light" href="{{url_for('club', club_id = row["club_id_team_h"])}}">{{row["club_name_team_h"]}}</a></td>
										<td>{{ row['team_h_score'] }}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			<br>
			<script>
				$(function(){
					$('.table tr[data-href]').each(function(){
						$(this).css('cursor','pointer').hover(
							function(){
								$(this).addClass('active');
							},
							function(){
								$(this).removeClass('active');
							}).click( function(){
								document.location = $(this).attr('data-href');
							}
						);
					});
				});
			</script>
			<br><hr>
			<h1 class="text-center">APIs Used</h1>
			<br>
			<div class="row">
				<div class="col text-center">
					<a style="color: white;" href="https://api-sports.io/">API-Sports Football (Soccer) API</a>
				</div>
			</div>
			<br><br>
		</div>
	</body>
</html>
